---
import Layout from '../layouts/Base.astro';
---
<Layout
	title="About Me"
	description="About Yiyuan Li"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About</h1>
	<p class="mb-4">
    I'm Yiyuan Li, a Computer Science student chillin' in Singapore. I'm all about algorithms, low-level programming, 
    and some computer graphics stuff.
  </p>
  <p class="mb-4">
    When I'm not drowning in code, you'll probably find me vibing to some Deep House beats or binge-watching movies. 
    Yeah, I live alone in this tiny island nation, just a dumb kid trying to make sense of the digital world.
  </p>
	<div class="mb-4">
    Check out what I've been up to lately (spoiler: probably not much 😅): 
		<a 
			class="cody-link" 
			href="https://www.github.com/yuann3"
			target="_blank"
			rel="noopener noreferrer"
		>Github</a>
	</div>
	<h2 class="title mt-4">Tech</h2>
	<ul class="list-inside list-disc">
		<li>C/C++, Java, Rust</li>
		<li>Text Editor: NeoVim</li>
		<li>Terminal: Alacrity + Tmux</li>
		<li>Window Manager: Yabai</li>
		<li>And...Gruvbox Material is the GOAT!</li>
	</ul>
</Layout>

<style>
  .mb-4 {
    margin-bottom: 1rem;
  }
</style>
