---
import Layout from '../layouts/Base.astro';
---
<Layout
	title="About Me"
	description="About Yiyuan Li"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About</h1>
	<p class="mb-4">
    Hi, I'm Yiyuan Li, a Computer Science student based in Singapore. I like low-level programming, computer graphics, and all things that boost developer productivity. Vim + Tmux, I'm always exploring ways to optimize how we work with code.
  </p>
  <p class="mb-4">
    I especially enjoy working with Rust and Go, and I'm always open to collaborating on interesting projects—particularly if they involve systems programming or graphics. If that sounds like your kind of thing, feel free to drop me a line at yy@yuan.me.
  </p>
  <p class="mb-4">
    When I'm not deep in the terminal, I like spending time with my girlfriend, Deep House / Techno is the way to go, or binge-watching movies (so sad dont have much of times now). Im just trying to make sense of the digital world.
  </p>
	<div class="mb-4">
    You can check out what I've been building over at 
    <a 
			class="cody-link" 
			href="/"
			rel="noopener noreferrer"
		>Cave</a> 
    or catch up with me on
		<a 
			class="cody-link" 
			href="https://www.github.com/yuann3"
			target="_blank"
			rel="noopener noreferrer"
		>GitHub</a>
	</div>
	<h2 class="title mt-4">Tech</h2>
	<ul class="list-inside list-disc">
		<li>Rust, Go, C/C++ </li>
		<li>Text Editor: NeoVim</li>
		<li>Terminal: Ghostty + Tmux</li>
		<li>Window Manager: Yabai</li>
	</ul>
</Layout>

<style>
  .mb-4 {
    margin-bottom: 1rem;
  }
</style>
