---
import Layout from '../layouts/Base.astro';
---
<Layout
	title="About Me"
	description="About Yiyuan Li"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">Me?</h1>
    <p class="mb-4">
    Hi, I'm Yiyuan Li, a Computer Science student based in Singapore. I'm into low-level programming, computer graphics, and anything that makes developers more productive.
    </p>
    <p class="mb-4">
    Rust and Go are my go-to languages. I love building things close to the metal—especially if it involves systems programming or graphics. Got a wild idea or cool project? Hit me up at <a href="mailto:yy@yuan.me">yy@yuan.me</a>.
    </p>
    <p class="mb-4">
    Lately, I’ve gone full Emacs as my main editor—and damn....I crossed over to the dark side... but I still keep my Vim and Tmux close.
    </p>
    <p class="mb-4">
    Outside of code, I’m usually with my girlfriend, vibing to Deep House/Techno, or lost in a movie marathon (wish I had more time for that). Just out here trying to decode the madness of the digital world.
    </p>
	<div class="mb-4">
    You can check out what I've been building over at 
    <a 
			class="cody-link" 
			href="/"
			rel="noopener noreferrer"
		>Cave</a> 
    or catch up with me on
		<a 
			class="cody-link" 
			href="https://www.github.com/yuann3"
			target="_blank"
			rel="noopener noreferrer"
		>GitHub</a>
	</div>
	<h2 class="title mt-4">Tech</h2>
	<ul class="list-inside list-disc">
		<li>Rust, Go, C/C++, Java</li>
		<li>Text Editor: Emacs(GNU), Vim</li>
		<li>Terminal: Ghostty + Tmux</li>
		<li>Window Manager: Yabai</li>
	</ul>
</Layout>

<style>
  .mb-4 {
    margin-bottom: 1rem;
  }
</style>
